<template>
    <div>
        <p>嘻嘻。</p>
        <Back />
    </div>
</template>

<script>
    import Back from '@/components/Back.vue'
    export default {
        name: 'About',
        components: {
            Back
        },
    }
</script>