<template>
    <div class="home">
        <Backgrounds :blur="false" />
        <div class="home-wrapper" lang="cmn">
            <header class="home-header">
                <h1>Wirbelwind</h1>
                <!-- <DyIcon alt="Wirbelwind Logo" :size="48" :shadow="true" path="M40 24C40 32.8366 32.8366 40 24 40C15.1634 40 8 32.8366 8 24C8 15.1634 15.1634 8 24 8C32.8366 8 40 15.1634 40 24ZM44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24ZM22 12.75L22 21.2472L13.9186 18.6214C13.5247 18.4934 13.1016 18.709 12.9736 19.103L12.201 21.4806C12.073 21.8746 12.2886 22.2977 12.6826 22.4257L20.7639 25.0515L15.7694 31.9259C15.5259 32.261 15.6002 32.73 15.9353 32.9735L17.9578 34.4429C18.2929 34.6864 18.762 34.6121 19.0054 34.277L24 27.4026L28.9946 34.277C29.238 34.6121 29.7071 34.6864 30.0422 34.4429L32.0647 32.9735C32.3998 32.73 32.4741 32.261 32.2306 31.9259L27.2361 25.0515L35.3174 22.4257C35.7114 22.2977 35.927 21.8746 35.799 21.4806L35.0264 19.103C34.8984 18.709 34.4753 18.4934 34.0814 18.6214L26 21.2472L26 12.75C26 12.3358 25.6642 12 25.25 12L22.75 12C22.3358 12 22 12.3358 22 12.75Z" /> -->
            </header>
            <nav class="home-nav">
                <router-link class="home-nav-link" to="/portfolio">Portfolio</router-link>
                <router-link class="home-nav-link" to="/about">联系</router-link>
            </nav>
        </div>
    </div>
</template>

<script>
    import Backgrounds from '@/components/Backgrounds.vue'
    import DyIcon from '@/components/DyIcon.vue'

    export default {
        name: 'Home',
        components: {
            Backgrounds,
            DyIcon
        }
    }
</script>