<template>
    <div>
        <Backgrounds blur dark />
        <ul class="gallery-list">
            <li class="gallery-list-item" v-for="(g, index) in gallery" :key="index + g.codeName" @click="go(g.codeName)">
                <stack :photoset="g.cover" :title="g.name" :date="g.date" :order="index"></stack>
            </li>
        </ul>
        <Back />
    </div>
</template>

<script>
    import Backgrounds from '@/components/Backgrounds.vue'
    import Stack from '@/components/Stack.vue'
    import Back from '@/components/Back.vue'

    export default {
        name: 'Portfolio',
        components: {
            Backgrounds,
            Stack,
            Back
        },
        computed: {
            gallery() {
                return this.$store.state.gallery
            }
        },
        methods: {
            go(codeName) {
                this.$router.push({
                    name: 'Project',
                    params: {
                        id: codeName
                    }
                })
            }
        }
    }
</script>