<template>
    <div>
        <template v-if="project.photos">
            <Backgrounds blur dark :set="project.cover" />
            <div class="carousel-wrapper">
                <div class="carousel-main">
                    <agile :options="agileOptions">
                        <div class="photo-wrapper" v-for="(p, index) in project.photos" :key="p.codename" :ref="project.name + index">
                            <img class="photo-main" :src="p.src.main" :alt="p.codeName">
                        </div>
                    </agile>
                </div>
            </div>
        </template>
            <Back />
    </div>
</template>

<script>
    import {
        VueAgile
    } from 'vue-agile'
    import Backgrounds from '@/components/Backgrounds.vue'
    import Back from '@/components/Back.vue'

    export default {
        name: 'Project',
        components: {
            agile: VueAgile,
            Backgrounds: Backgrounds,
            Back: Back
        },
        data() {
            return {
                agileOptions: {
                    navButtons: false
                },
                project: {}
            }
        },
        methods: {
            indexing() {
                const codeName = this.$route.params.id
                const gallery = this.$store.state.gallery
                if (codeName && gallery.length) {
                    const index = gallery.findIndex((project) => project.codeName === codeName)
                    this.project = gallery[index]
                } else {
                    setTimeout(() => {
                        this.indexing()
                    }, 500);
                }
            }
        },
        mounted() {
            this.indexing()
        }
    }
</script>

<style lang="less">
    .carousel-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .carousel-main {
            width: 100vw;
        }
    }

    .photo-wrapper {
        width: 320px;
        height: 320px;
        position: relative;

        .photo-main {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
        }
    }

    .agile__dots {
        margin: 16px auto;
        height: 16px;
        display: flex;
        align-items: flex-end;

        .agile__dot {
            display: block;
            margin: 0 2px;

            button {
                border: 0;
                width: 2px;
                height: 8px;
                background: #FFF;
                box-shadow: 0 0 2px #FFF;
                border-radius: 1px;
                padding: 0;
                transition: height .25s;
            }

            &.agile__dot--current button {
                height: 12px;
            }
        }
    }
</style>