@baltic: #8D92A5;
@arctic: #ffffff;

@shadowNormal: 0 4px 8px rgba(0, 0, 0, 0.125), 0 0 8px rgba(0, 0, 0, 0.125);

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

body {
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: @baltic;
    text-rendering: geometricPrecision;
    font-family: Futura, 'Futura Bk BT', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}

// HOME
.home-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    box-sizing: border-box;
    padding: 24px 16px;
    color: @arctic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-header {
        position: absolute;
        top: 24px;
        left: 16px;
        right: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin: 0;
            font-size: 2em;
            letter-spacing: .05em;
            text-shadow: @shadowNormal;
        }

        .home-logo {
            width: 56px;
            height: 56px;
            display: block;
            user-select: none;
        }
    }

    .home-nav {
        position: absolute;
        bottom: 24px;
        left: 16px;

        &-link {
            color: @arctic;
            text-decoration: none;
            display: block;
            font-size: 2em;
            margin-top: 16px;
            text-shadow: @shadowNormal;
        }
    }

    @media screen and (min-width: 440px) {
        .home-header {
            position: relative;
            margin-bottom: 96px;
        }

        .home-nav {
            position: relative;
            text-align: center;
        }
    }
}

// Gallery
.gallery-list {
    margin: 0;
    padding: 0;

    &-item {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
}

// Stack
.stack {
    position: relative;
    width: 320px;
    height: 180px;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 180px;
    }

    &-meta {
        margin-right: 160px;
        text-align: center;
        white-space: nowrap;

        h3 {
            margin: 0;
            color: @arctic;
            font-size: 1.25em;
            line-height: 40px;
            text-shadow: @shadowNormal;
        }

        p {
            margin: 0;
            color: @baltic;
            font-size: .75em;
            line-height: 1;
        }
    }

    &-photo {
        max-width: 150px;
        max-height: 150px;
        display: block;
        border: 2px solid @arctic;
        box-shadow: @shadowNormal;
        transform-origin: center;
        position: absolute;
        top: 90px;
        left: 90px;
        transition: opacity .5s, transform 1s;
        user-select: none;
        pointer-events: none;
    }
}