<template>
    <div class="backgrounds-wrapper">
        <div class="background-image-wrapper">
            <agile v-if="allBgs.length" :options="agileOptions" :class="{'background-blur': blur, 'background-dark': dark}">
                <div v-for="(b, index) in bgs" :key="index + b.codeName" class="background-image" :style="{backgroundImage: 'url(' + b.src.main + ')'}"></div>
            </agile>
        </div>
    </div>
</template>

<script>
    import {
        VueAgile
    } from 'vue-agile'
    export default {
        name: 'Backgrounds',
        components: {
            agile: VueAgile
        },
        props: {
            set: Array,
            blur: Boolean,
            dark: Boolean
        },
        data() {
            return {
                agileOptions: {
                    dots: false,
                    fade: true,
                    navButtons: false,
                    autoplay: true,
                    autoplaySpeed: 7000,
                    speed: 0
                }
            }
        },
        computed: {
            allBgs() {
                return this.$store.state.backgrounds
            },
            bgs() {
                if (this.set) {
                    return this.shuffle(this.set)
                } else {
                    return this.shuffle(this.allBgs)
                }
            }
        },
        methods: {
            shuffle(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }
        }
    }
</script>

<style lang="less">
    .backgrounds-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        overflow: hidden;
        background-color: rgb(128, 128, 128);

        .background-image-wrapper {
            position: absolute;
            top: -32px;
            left: -32px;
            right: -32px;
            bottom: -32px;
            user-select: none;
            pointer-events: none;

            .background-image {
                width: calc(100vw + 64px);
                height: calc(100vh + 64px);
                background-repeat: no-repeat;
                background-size: cover;
            }

            .background-blur {
                filter: blur(10px) saturate(125%);
            }

            .background-dark {
                filter: blur(10px) saturate(125%) brightness(25%);
            }
        }
    }
</style>