<template>
    <div class="back-icon" @click="goBack">
        <DyIcon :shadow="true" path="M8.828 14l5.056 5.055a.75.75 0 010 1.061l-1.768 1.768a.75.75 0 01-1.06 0L1.702 12.53a.75.75 0 010-1.06l9.354-9.354a.75.75 0 011.06 0l1.768 1.768a.75.75 0 010 1.06L8.828 10H21.25a.75.75 0 01.75.75v2.5a.75.75 0 01-.75.75H8.828z" />
    </div>
</template>

<script>
    import DyIcon from '@/components/DyIcon.vue'

    export default {
        name: 'Back',
        components: {
            DyIcon
        },
        methods: {
            goBack(){
                this.$router.go(-1)
            }
        }
    }
</script>

<style lang="less">
    .back-icon {
        position: fixed;
        width: 24px;
        height: 24px;
        padding: 24px;
        top: 0;
        left: 0;
    }
</style>