<template>
    <svg class="icon" :class="{'icon-shadow': shadow}" :style="iconStyle" :viewBox="'0 0 ' + size + ' ' + size">
        <path fill-rule="evenodd" :d="path" :fill="color" />
    </svg>
</template>

<script>
    export default {
        name: 'DyIcon',
        props: {
            path: String,
            color: {
                type: String,
                default: '#fff'
            },
            shadow: Boolean,
            size: {
                type: Number,
                default: 24
            }
        },
        computed: {
            iconStyle() {
                return {
                    width: this.size + 'px',
                    height: this.size + 'px'
                }
            }
        }
    }
</script>

<style lang="less">
    .icon {
        display: block;

        &.icon-shadow {
            filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.125)) drop-shadow(0 0 8px rgba(0, 0, 0, 0.125));
        }
    }
</style>