<template>
    <div class="stack">
        <div class="stack-wrapper">
            <stack-photo class="stack-photo" v-for="p in randomPhotoset" :key="p.codename" :src="p.src.thumb" />
        </div>
        <div class="stack-meta" v-if="title">
            <h3>{{title}}</h3>
            <p>{{date}}</p>
        </div>
    </div>
</template>

<script>
    import StackPhoto from '@/components/StackPhoto.vue'
    export default {
        name: 'Stack',
        components: {
            StackPhoto
        },
        props: {
            photoset: Array,
            title: String,
            date: String
        },
        computed: {
            randomPhotoset() {
                return this.shuffle(this.photoset)
            }
        },
        methods: {
            shuffle(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }
        }
    }
</script>