<template>
    <img class="stack-photo" :src="src" @load="imageReady" ref="photo" :style="photoStyle" />
</template>

<script>
    export default {
        name: 'StackPhoto',
        props: {
            src: String
        },
        data() {
            return {
                photoStyle: {
                    marginTop: 0,
                    marginLeft: 0,
                    opacity: 0,
                    transform: 'rotate(0deg) translateZ(0)'
                },
                photoOffset: {}
            }
        },
        methods: {
            calcPosition() {
                this.photoOffset = this.$refs.photo.getBoundingClientRect()
                this.photoStyle.marginTop = this.photoOffset.height / -2 + 'px'
                this.photoStyle.marginLeft = this.photoOffset.width / -2 + 'px'
            },
            calcAngle() {
                const angle = Math.floor(Math.random() * 24) - 12
                this.photoStyle.transform = 'rotate(' + angle + 'deg) translateZ(0)'
            },
            imageReady() {
                this.calcPosition()
                this.photoStyle.opacity = 1
                this.calcAngle()
            }
        }
    }
</script>