<template>
    <div id="app" :lang="language">
        <router-view />
    </div>
</template>
<script>
    export default {
        name: 'App',
        computed: {
            language() {
                return this.$store.state.lang
            }
        },
        mounted() {
            this.$store.dispatch("getGallery")
            this.$store.dispatch("init")
        }
    }
</script>